<section layout="row" flex class="height100">
    <!--
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
    -->
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="true" md-whiteframe="4">
        <md-toolbar class="primary-back">
            <h1 class="md-toolbar-tools">Menu do Administrador</h1>
        </md-toolbar>
        <md-content layout-padding ng-controller="AdminController">
            <md-list class="md-dense" flex>
                <md-list-item ng-click="vm.acionarMenu('logado')">
                    <md-icon md-font-set="fas fa-home fa-2x"></md-icon>
                    <p class="primary">Pagina Inicial</p>
                </md-list-item>
                <md-divider></md-divider>

                <md-list-item ng-click="vm.acionarMenu('editar')">
                    <md-icon md-font-set="fas fa-edit fa-2x"></md-icon>
                    <p class="primary">Editar Textos</p>
                </md-list-item>

                <md-divider></md-divider>

                <md-list-item ng-click="vm.acionarMenu('editar-noticias')">

                    <md-icon md-font-set="fas fa-newspaper fa-2x"></md-icon>
                    <p class="primary">Gerenciar Notícias</p>
                </md-list-item>
                <md-divider></md-divider>

                <md-list-item ng-click="vm.acionarMenu('/')">
                    <md-icon md-font-set="fas fa-sign-out-alt fa-2x"></md-icon>
                    <p class="primary">Sair</p>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
    <md-content flex layout-padding class="height100">



        <div ng-include="vm.paginaInicial" class="height100"></div>
    </md-content>
</section>