<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="row">

        <md-card class="card-image" ng-repeat="movel in vm.moveis">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">{{movel.nome}}</span>
                    <span class="md-subhead">{{movel.valor}}</span>
                </md-card-header-text>
            </md-card-header>
            <img ng-src="{{movel.imagem}}" class="md-card-image imagem-movel" alt="imagem não encontrada"
                ng-click="vm.abrirModalImagem(movel);">

            <md-card-content>
                <p>
                    {{movel.descricao}}
                </p>

            </md-card-content>

            <md-card-actions layout="row" layout-align="center center">
                <md-button class="md-primary md-raised" ng-click="vm.abrirModalInteressado($event,  movel)">Estou
                    interessado
                </md-button>

            </md-card-actions>
        </md-card>

    </div>
</md-content>