<div layout="row" layout-align="center center" style="background-color: azure">
    <md-button class="md-primary md-raised bold" ng-click="vm.mostrarAreaCliente = true">Acesse a área restrita ao
        cliente</md-button>

</div>
<md-tabs class="md-accent height100" md-selected="0" md-align-tabs="top">
    <md-tab id="escritorio">
        <md-tab-label class="primary-back">
            <md-icon md-font-icon="fa fa-building" class="white"></md-icon><span class="tab-label">O Escritório</span>
        </md-tab-label>
        <md-tab-body>
            <div layout="column" flex="100">
                <md-card class="md-padding" style="margin-top: 15px;" id="escritorio">
                    <h2>
                        <a>Quem Somos</a>
                    </h2>
                    <md-divider></md-divider>

                    <md-card-content class="md-padding no-padding-vertical" style="text-align: justify" layout="row"
                        layout-align="center start">
                        <div layout="row">
                            <div layout="column" flex="100">

                                <md-progress-circular md-diameter="50px"
                                    ng-class="!vm.progressQuemSomos ? 'animated fadeOut once' : ''" class="progress"
                                    ng-show="vm.progressQuemSomos" md-mode="indeterminate"></md-progress-circular>


                                <p class="animated fadeIn once" ng-show="!vm.progressQuemSomos"> {{vm.textoQuemSomos}}
                                </p>
                            </div>

                        </div>
                    </md-card-content>



                </md-card>
            </div>
            <div layout="row" layout-align="space-around start">

                <md-card class="card-menor md-padding">
                    <h2>
                        <a>Missão</a>
                    </h2>
                    <md-divider></md-divider>

                    <md-card-content class=" no-padding-vertical" style="text-align: justify" layout="row"
                        layout-align="center center">
                        <md-progress-circular md-diameter="50"
                            ng-class="!vm.progressMissao ? 'animated fadeOut once' : ''" class="progress"
                            md-mode="indeterminate" ng-show="vm.progressMissao">
                        </md-progress-circular>

                        <p class="animated fadeIn once" ng-show="!vm.progressMissao">{{vm.textoMissao}}</p>



                    </md-card-content>
                </md-card>
                <md-card class="card-menor md-padding">
                    <h2>
                        <a>Visão</a>
                    </h2>
                    <md-divider></md-divider>
                    <md-card-content class=" no-padding-vertical" style="text-align: justify" layout="row"
                        layout-align="center center">
                        <md-progress-circular md-diameter="50px" class="progress"
                            ng-class="!vm.progressVisao ? 'animated fadeOut once' : ''" md-mode="indeterminate"
                            ng-show="vm.progressVisao"></md-progress-circular>

                        <p class="animated fadeIn once" ng-show="!vm.progressVisao">{{vm.textoVisao}}</p>

                    </md-card-content>
                </md-card>
                <md-card class="card-menor md-padding">
                    <h2>
                        <a>Valores</a>
                    </h2>
                    <md-divider></md-divider>

                    <md-card-content class=" no-padding-vertical" style="text-align: left; padding-top: 5px !important"
                        layout="column" layout-align="center start">
                        <md-progress-circular md-diameter="50px" class="progress"
                            ng-class="!vm.progressValores ? 'animated fadeOut once' : ''" md-mode="indeterminate"
                            ng-show="vm.progressValores"></md-progress-circular>

                        <li ng-repeat="valor in vm.textoValores" ng-show="valor != ''" class="animated fadeIn once"
                            ng-show="!vm.progressValores">{{valor}}</li>



                    </md-card-content>
                </md-card>
            </div>

        </md-tab-body>
    </md-tab>
    <md-tab id="servicos">
        <md-tab-label>
            <md-icon md-font-icon="fa fa-book" class="white"></md-icon>
            <span class="tab-label">Serviços Contábeis</span>
        </md-tab-label>
        <md-tab-body>

            <md-card class="md-padding" id="premios">
                <h2>
                    <a>Serviços Contábeis</a>
                </h2>
                <md-divider></md-divider>

                <md-card-content class="md-padding">

                    <md-card ng-repeat="servico in vm.servicosContabeis"
                        style="float: left; position: relative; max-width: 350px; min-height: 450px !important;">
                        <div class="card-header">
                            <h3 style="padding-left:5px;">{{servico.categoria}}</h3>
                            <md-divider></md-divider>
                        </div>
                        <md-card-content>
                            <li ng-repeat="serv in servico.servicos">{{serv.nome}}</li>
                        </md-card-content>
                    </md-card>

                </md-card-content>

            </md-card>
        </md-tab-body>
    </md-tab>

    <md-tab id="fale">
        <md-tab-label>
            <md-icon md-font-icon="fa fa-phone" class="white"></md-icon>
            <span class="tab-label">
                Fale conosco</span>
        </md-tab-label>
        <md-tab-body>
            <md-card class="md-padding" id="contato">
                <h2>
                    <a>Fale Conosco</a>
                </h2>
                <md-divider></md-divider>

                <md-card-content style="padding-left: 0px !important" class="no-padding-vertical">

                    <div layout="row">
                        <div layout="column" flex="40">
                            <md-card>
                                <div class="card-header">
                                    <h3>Entre em contato</h3>
                                    <md-divider></md-divider>
                                </div>
                                <md-card-content class="content-endereco">
                                    <div layout="column">
                                        <span>Envie-nos um e-mail e entraremos em contato em breve. Teremos o
                                            prazer de ajudar.
                                            Você também
                                            pode ligar: (67) 3382-1530 | (67) 3324-2775</span>
                                    </div>
                                </md-card-content>

                            </md-card>
                        </div>
                        <div layout="column" flex="60">
                            <md-card>

                                <md-card-content>
                                    <form class="event-dialog-form" name="eventForm">
                                        <md-input-container class="md-block input-container-margin-menor">
                                            <md-icon md-font-icon="zmdi zmdi-account"></md-icon>

                                            <label>Nome</label>
                                            <input ng-model="vm.comunicacao.nome" required>
                                        </md-input-container>
                                        <md-input-container class="md-block input-container-margin-menor">
                                            <md-icon md-font-icon="zmdi zmdi-email"></md-icon>

                                            <label>E-mail</label>
                                            <input ng-model="vm.comunicacao.email" required type="email">
                                        </md-input-container>

                                        <md-input-container class="md-block input-container-margin-menor">
                                            <md-icon md-font-icon="zmdi zmdi-phone"></md-icon>
                                            <label>Telefone</label>
                                            <input ng-model="vm.comunicacao.telefone" type="tel"
                                                mask="(99) 9?9999-9999">
                                        </md-input-container>
                                        <md-input-container class="md-block input-container-margin-menor">
                                            <label>Assunto</label>
                                            <input ng-model="vm.comunicacao.assunto" required>
                                        </md-input-container>
                                        <md-input-container class="md-block input-container-margin-menor">
                                            <label translate>Mensagem</label>
                                            <textarea rows="5" ng-model="vm.comunicacao.mensagem"></textarea>
                                        </md-input-container>

                                        <md-button class="button-primary" ng-click="vm.enviarMensagem();">Enviar
                                            mensagem</md-button>
                                    </form>
                                </md-card-content>
                                <md-card>
                        </div>

                    </div>

                </md-card-content>

            </md-card>
        </md-tab-body>
    </md-tab>

    <md-tab id="localizacao">
        <md-tab-label>
            <md-icon md-font-icon="fa fa-map" class="white"></md-icon>
            <span class="tab-label">Localização</span>
        </md-tab-label>
        <md-tab-body>
            <md-card class="md-padding" id="localizacao">
                <h2>
                    <a>Localização</a>
                </h2>
                <md-divider></md-divider>




                <md-card-content style="padding-left: 0px !important">
                    <div layout="row">
                        <div layout="column" flex="30">
                            <md-card>
                                <div class="card-header">
                                    <h3>Endereço</h3>
                                    <md-divider></md-divider>
                                </div>
                                <md-card-content class="content-endereco">
                                    <div layout="column">
                                        <span>Rua Tonico de Carvalho, 232</span>
                                        <span>Vila Carvalho</span>
                                        <span>Cep: 79097-070</span>
                                        <span>Campo Grande - MS</span>
                                    </div>
                                </md-card-content>

                            </md-card>
                        </div>
                        <div class="column" flex>
                            <iframe width="500" height="450" frameborder="0" style="border:0"
                                src="https://www.google.com/maps/embed/v1/place?q=escritorio%20contabil%20aquarus%2C%20232.%20Campo%20Grande&key=AIzaSyAFPDiXe9OmM4M2uS-aX8Mxd_3vFkm759k"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </md-card-content>

            </md-card>
        </md-tab-body>
    </md-tab>
    <md-tab id="noticias">
        <md-tab-label>
            <md-icon md-font-icon="fa fa-font" class="white"></md-icon>
            <span class="tab-label"> Notícias</span>
        </md-tab-label>
        <md-tab-body>

            <md-card class="md-padding" id="noticias">
                <h2>
                    <a>Notícias</a>
                </h2>
                <md-divider></md-divider>

                <md-card-content class="md-padding">

                    <md-card ng-repeat="noticia in vm.noticias">
                        <md-card-header>
                            <md-card-header-text>
                                <span class="md-title"
                                    ng-if="noticia.tipo == 1 || noticia.tipo === undefined">{{noticia.titulo}}</span>
                                <span class="md-title" ng-if="noticia.tipo == 2"><a ng-href="{{noticia.textoNoticia}}"
                                        target="_blank">{{noticia.titulo}}</a></span>

                                <span class="md-subtitle" style="font-size: 14px;">
                                    <md-icon md-font-icon="fa fa-calendar-alt"></md-icon>{{noticia.dataInicio
                                    |
                                    date : 'dd/MM/yyyy'}}
                                </span>

                            </md-card-header-text>

                        </md-card-header>

                        <md-divider></md-divider>
                        <md-card-content class="md-padding" style="text-align: justify"
                            ng-if="noticia.tipo == 1 || noticia.tipo === undefined">
                            {{noticia.textoNoticia}}
                        </md-card-content>
                    </md-card>




                </md-card-content>

            </md-card>
        </md-tab-body>
    </md-tab>

    <md-tab id="cliente" ng-if="vm.mostrarAreaCliente" md-active="vm.mostrarAreaCliente">
        <md-tab-label ng-show="vm.mostrarAreaCliente">
            <md-icon md-font-icon="fa fa-user" class="white"></md-icon>
            <span class="tab-label"> Área restrita ao cliente
        </md-tab-label>
        </md-tab-label>
        <md-tab-body>
            <md-content layout="column" layout-align="center center">
                <div ng-bind-html="vm.errologin"></div>


                <md-card class="md-padding" style="margin-top: 50px;" flex="50">
                    <div layout="row" layout="center center">
                        <img src="../assets/logo.png" style="width: 50px; height: 50px;" />

                        <h2 class="title">Área do Cliente</h2>
                    </div>
                    <md-divider></md-divider>

                    <md-card-content class="md-padding" style="text-align: justify">
                        <p>Digite o seu usuário e senha para entrar no sistema</p>
                        <form name="projectForm" method="POST" action="https://rhnetsocial.com.br/loginFormDo.php"
                            layout="column">

                            <md-input-container>
                                <label>Usuário</label>
                                <input type="text" name="login" size="20" />
                                <!-- <input type="text" ng-model="vm.usuario" required>-->
                            </md-input-container>

                            <md-input-container>
                                <label>Senha</label>
                                <input type="password" name="senha" size="8" />
                                <!--<input ng-model="vm.senha" type="password" required>-->
                            </md-input-container>
                            <input type="hidden" name="from" value="http://aquariusmsi.com.br/#!/" />
                            <input type="hidden" name="clienteId" size="20" value="7423" />
                            <div layout="row" layout-align="center center">
                                <md-button type="submit" class="md-primary md-raised">Entrar</md-button>
                            </div>


                        </form>
                    </md-card-content>

                </md-card>
            </md-content>
            <!--
            <iframe ng-src="https://www.rhnetsocial.com.br/aquariuscg" layout="column" style="width: 100%; height: 100%">
                Something wrong...
            </iframe>
            -->
        </md-tab-body>
    </md-tab>

</md-tabs>