<md-dialog aria-label="Mango (Fruit)">
    <md-dialog-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
        <div>
            <md-input-container>
                <label>Nome</label>
                <input ng-model="user.title">
            </md-input-container>

            <md-input-container>
                <label>Telefone</label>
                <input ng-model="user.email" type="telefone">
            </md-input-container>
        </div>
    </md-dialog-content>

</md-dialog>