<section layout="row" flex class="height100" md-theme="default">
    <!--
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
    -->
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="true" md-whiteframe="4">
        <md-toolbar class="primary-back">
            <h1 class="md-toolbar-tools">Menu do Administrador</h1>
        </md-toolbar>
        <md-content layout-padding ng-controller="AdminController">
            <md-list class="md-dense" flex>
                <md-list-item ng-click="vm.acionarMenu('logado')">
                    <md-icon md-font-set="fas fa-home fa-2x"></md-icon>
                    <p class="primary">Pagina Inicial</p>
                </md-list-item>
                <md-divider></md-divider>

                <md-list-item ng-click="vm.acionarMenu('editar')">
                    <md-icon md-font-set="fas fa-edit fa-2x"></md-icon>
                    <p class="primary">Editar Textos</p>
                </md-list-item>

                <md-divider></md-divider>

                <md-list-item ng-click="vm.acionarMenu('editar-noticias')">

                    <md-icon md-font-set="fas fa-newspaper fa-2x"></md-icon>
                    <p class="primary">Gerenciar Notícias</p>
                </md-list-item>
                <md-divider></md-divider>

                <md-list-item ng-click="vm.acionarMenu('/')">
                    <md-icon md-font-set="fas fa-sign-out-alt fa-2x"></md-icon>
                    <p class="primary">Sair</p>
                </md-list-item>
            </md-list>
        </md-content>

    </md-sidenav>

    <md-content flex layout-padding class="height100">

        <md-button class="md-primary md-raised" ng-click="vm.abrirNovaNoticia($event)">Nova noticia</md-button>

        <md-card>
            <h2>
                <a>Notícias</a>
            </h2>
            <md-divider></md-divider>
            <md-card ng-repeat="noticia in vm.noticias | reverse">
                <md-card-header>
                    <md-card-header-text>
                        <span class="md-title">{{noticia.titulo}}</span>
                        <span class="md-subhead">Tipo: {{noticia.tipo == "2" ? 'Link' : 'Texto'}}</span>
                        <span class="md-subhead" ng-show="noticia.dataFim">de {{noticia.dataInicio | date :
                            "dd/MM/yyyy"}} até {{noticia.dataFim |
                            date : "dd/MM/yyyy"}}</span>
                        <span class="md-subhead" ng-show="!noticia.dataFim">a partir de {{noticia.dataInicio |
                            date :
                            "dd/MM/yyyy"}} </span>
                    </md-card-header-text>
                    <md-button class="md-primary md-raised" ng-click="vm.editarNoticia($event, noticia)">Editar
                    </md-button>
                    <md-button class="md-accent md-raised" ng-click="vm.excluirNoticia($event,noticia);">Excluir
                    </md-button>
                </md-card-header>

                <md-divider></md-divider>
                <md-card-content class="md-padding" style="text-align: justify">
                    {{noticia.textoNoticia}}
                </md-card-content>
            </md-card>
        </md-card>
    </md-content>
</section>